extends ../layout

block content
	.container
		div.row-fluid.jumbotron#questions
			.fieldset
				form#questionPrompt
					input.form-group(placeholder="what you want?") 
					button.btn.btn-default

